.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 90s linear;
  margin-top: 5vmin;
  height: 15vmin;
}

.App-header {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: goldenrod;
}

.App-link {
  color: #61dafb;
}

.clock {
  font-size: calc(10px + 20vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
